<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
    <div class="container">
        <ul class="nav navbar-nav">

            <li><a href="@Url.Action("Index","Home")">Home</a></li>

            <!-- About us -->
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    About us
                </a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Whydatanomics","View")">Why Datanomics</a></li>
                    <li><a href="@Url.Action("TechnicalExpertise","View")">Technical expertise</a></li>
                </ul>
            </li>
            <!-- End About us -->
            <!-- Shortcodes -->
            <li class="dropdown mega-menu-fullwidth">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    Offerings
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="mega-menu-content disable-icons">
                            <div class="container">
                                <div class="row equal-height">
                                    <div class="col-md-3 equal-height-in">
                                        <ul class="list-unstyled equal-height-list">
                                            <li><h3>Industries</h3></li>
                                            <!-- Typography -->
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-sort-alpha-asc"></i> Banking</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-magic"></i> Health Insurance</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-ellipsis-h"></i> International Organization</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-quote-left"></i> Manufacturing</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-asterisk"></i> Market Research</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-comments"></i> Retail</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-tasks"></i> Transport</a></li>
                                            <!-- End Typography -->
                                        </ul>
                                    </div>
                                    <div class="col-md-3 equal-height-in">
                                        <ul class="list-unstyled equal-height-list">
                                            <li><h3>Services &amp; Solutions</h3></li>
                                            <!-- Buttons -->
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-flask"></i> Finance & Accounting</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-html5"></i> IT Services</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-bolt"></i> Mobility</a></li>
                                            <!-- End Buttons -->
                                            <!-- Icons -->
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-chevron-circle-right"></i> BI & Analytics</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-chevron-circle-right"></i> Collaboration & Enterprise Portals</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-chevron-circle-right"></i> Engineering & Embedded Services</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-chevron-circle-right"></i> Enterprise Content Management</a></li>
                                            <!-- End Icons -->
                                        </ul>
                                    </div>
                                    <div class="col-md-3 equal-height-in">
                                        <ul class="list-unstyled equal-height-list">
                                            <li><h3>Datanomics Accelerators</h3></li>
                                            <!-- Common Elements -->
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-image"></i> Application Management</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-list-ol"></i> Application Testing</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-dot-circle-o"></i> Billing & Statement Generation</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-dot-circle-o"></i> Information Management Solution</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-table"></i> Market Research</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-align-left"></i> Finance & Accounting</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-columns"></i> Analytics Solutions</a></li>
                                            <!-- End Common Elements -->
                                        </ul>
                                    </div>
                                    <div class="col-md-3 equal-height-in">
                                        <ul class="list-unstyled equal-height-list">
                                            <li><h3>Technology</h3></li>
                                            <!-- Forms -->
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-info"></i> IBM</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-windows"></i> Microsoft</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-bars"></i> SiteCore</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-bars"></i> EMC2</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-bars"></i> Tableau</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-bars"></i> KOFAX</a></li>
                                            <li><a href="@Url.Action("Cms","Home")"><i class="fa fa-bars"></i> HP</a></li>
                                            <!-- End Forms -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li><a href="@Url.Action("Customers","View")">Customers</a></li>
            <!-- End Shortcodes -->
            <!-- Search Block -->
            <li>
                <i class="search fa fa-search search-btn"></i>
                <div class="search-open">
                    <div class="input-group animated fadeInDown">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">Go</button>
                        </span>
                    </div>
                </div>
            </li>
            <!-- End Search Block -->
        </ul>
    </div><!--/end container-->
</div><!--/navbar-collapse-->
