@model System.Collections.Generic.List<Web.Datanomics.Models.Menu>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!--Striped Rows-->
<div class="col-md-12">
    <div class="panel panel-dark margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title">
                Menu
                <a class="pull-right" href="@Url.Action("Create","Menu")">
                    <i class="fa fa-plus"></i>
                </a>
            </h3>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Parent</th>
                    <th>isDropdown</th>
                    <th>isGroup</th>
                    <th>Target</th>
                    <th>Visible</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var m in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => m.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => m.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => m.Title)
                        </td>
                        <td>
                            @if (m.ParentID != 0)
                            {
                                <label class="label label-primary">
                                    @Html.Action("GetParentName","Menu", new { @ParentID = m.ParentID})
                                </label>
                            }
                            else if(m.isParent)
                            {
                                <label class="label label-danger">isParent</label>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => m.isDropdown)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => m.isGroup)
                        </td>
                        <td>
                            @if (!@m.Target.IsEmpty())
                            {
                                @m.Target.Substring(0, Math.Min(@m.Target.Length, 25))
                            }
                            
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => m.Visible)
                        </td>
                        <td>
                            <a class="btn btn-xs" href="@Url.Action("Edit", "Menu", new { ID = m.ID })"><i class="fa fa-edit"></i> Edit</a>
                            <a class="btn btn-danger btn-xs" href="@Url.Action("Delete", "Menu", new { ID = m.ID })"><i class="fa fa-trash-o"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--End Striped Rows-->
